html, body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #666666;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: #777;
}

a:hover, a:focus {
	color: #5e5d5d;
}

h1, h2, h3, h4, h5, h6 {

}

p {
	text-align: justify;
}

i {
	margin: 10px;
}

.btn-primary {
	background: rgb(221, 221, 221);
	border-color: rgb(221, 221, 221);
	color: #777;
	margin: 20px auto;
	padding: 10px 18px 10px 18px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: rgb(122, 122, 122);
	border-color: rgb(122, 122, 122);
	color: #fff;

}

.list-group-item-text {
	font-size: 10px;
}