/*		navigation modules		*/

#mainNav i {
	float: right;
	cursor: pointer;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
}

.navbar-header {
	width: 100%;
}

/*overlay-nav modules*/

.overlay-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-nav a:hover, .overlay-nav a:focus {
    color: #f1f1f1;
}

.overlay-nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay-nav a {font-size: 20px}
  .overlay-nav .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*		about section modules 		*/

.about h4 {
	margin-top: 80px;
	margin-bottom: 20px;
}
.about p {
	margin: 20px 60px;
	padding: 20px 60px;
}

.about .btn {
	margin-bottom: 50px;
}

@media screen and (max-width: 850px) {
	.about h4 { 
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.about p {
		margin: 10px 20px;
		padding: 20px;
	}
	.about .btn {
		margin-bottom: 40px;
	}
}


/*		project modules  		*/

#projects p {
	text-align: center;
}