/*		navigation modules		*/

#mainNav i {
	float: right;
	clear: both;
	cursor: pointer;


}

/*overlay-nav modules*/

.overlay-nav a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay-nav a:hover, .overlay-nav a:focus {
	color: #f1f1f1;
}

.closebtn i {

}

/*		about section modules 		*/

.about {
	background: rgb(242, 242, 242);
	width: 80%;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*media queries for .about*/
@media screen and (max-width: 525px) {
	.about {width: 100%;}
}

.about h4 {
	padding: 15px 0px 15px 0px;
}